<%= render "layouts/profile", profile: @profile %>

<div class="gallery">
  <h1> Recent Activities </h1>
  <div class="gallery__items">
    <% @profile.activities.last(3).each do |activity| %>
      <%= render "layouts/card", activity: activity %>
    <% end %>
  </div>
</div>

<div class ='comments'>
  <h1>Comments</h1>
  <% Comment.where(commentable_type: @profile.class.name, commentable_id: @profile.id).each do |comment| %>
    <div class="comments__item">
      <p class="content"><%= comment.content %></p>
      <p class="user"><%= comment.user %></p>
      <% if current_user == comment.user %>
        <%= link_to comments_path(id: comment.id), method: :delete, class: "delete" do %>
          <i class="fas fa-times"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= form_with url: comments_path, method: :post do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :commentable_id, value: @profile.id %>
    <%= f.hidden_field :commentable_type, value: @profile.class %>
    <%= f.submit %>
  <% end %>
</div>

<% if @profile != current_user %>
  <%= form_with url: ratings_path, method: :post, class: 'grade' do |f| %>
    <%= f.label :grade %>
    <%= f.select :grade, [1,2,3,4,5] %>
    <%= f.hidden_field :ratingable_id, value: @profile.id %>
    <%= f.hidden_field :ratingable_type, value: @profile.class %>
    <%= f.submit %>
  <% end %>
<% end %>