<%= form_with model: @activity, class:'form' do |form| %>
    <h1 class='form__header'>Activity</h1>
    <div class='form__item'>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div class='form__item'>
        <%= form.label :description %>
        <%= form.rich_text_area :description %>
    </div>
    <div class='form__item'>
        <label>Image</label>
        <%= form.file_field :image %>
    </div>
     <%= link_to "x", :back, class:'back button button__action--back' %>
  <%= form.submit class:'submit' %>
<% end %>
