<%= javascript_pack_tag 'accordion' unless @activity.steps.empty?%>
<section class='activities activities__show'>
  <div class='activity'>
    <h1 class='activity__title'><%= @activity.title %><h1>

    <div class='activity__user'>
      <% user = @activity.user %>
      <%= image_tag user_avatar(user, 100), class: 'avatar avatar--small' %>
      <%= link_to user.email, profiles_path(id: user.id) %>
    </div>

    <% if @activity.image.attached? %>
      <%= image_tag @activity.image, class:'activity__image' %>
    <% end %>

    <div class='activity__description'><%= @activity.description %></div>

    <% unless @activity.steps.empty? %>
      <h1 class='activity__subtitle'>Steps</h1>
      <%= render "layouts/accordion", elements: @activity.steps.published %>
    <% end %>

    <div class ='comments'>
      <h1 class='activity__subtitle'>Comments</h1>
      <% @activity.comments.each do |comment| %>
        <div class='comments__item'>
          <p class='content'><%= comment.content %></p>
          <p class='user'><%= comment.user %></p>
          <% if current_user == comment.user %>
            <%= link_to comments_path(id: comment.id), method: :delete, class: 'delete' do %>
              <i class="fas fa-times"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <%= form_with url: comments_path, method: :post do |f| %>
        <%= f.text_area :content %>
        <%= f.hidden_field :commentable_id, value: @activity.id %>
        <%= f.hidden_field :commentable_type, value: @activity.class %>
        <%= f.submit %>
      <% end %>
    </div>

    <%= link_to activities_path, class:'back' do %>
        <i class="fas fa-times-circle"></i>
     <% end %>
  </div>
    <% if @activity.user != current_user %>
      <%= form_with url: ratings_path, class: 'grade', method: :post do |f| %>
        <%= f.label :grade %>
        <%= f.select :grade, [1,2,3,4,5] %>
        <%= f.hidden_field :ratingable_id, value: @activity.id %>
        <%= f.hidden_field :ratingable_type, value: @activity.class %>
        <%= f.submit %>
      <% end %>
    <% end %>
</section>




