<section class='activities activities__show'>
  <div class='activity'>
    <h1 class='activity__title'><%= @activity.title %><h1>

    <div class='activity__user'>
      <%= image_tag user_avatar(current_user, 100), class: 'avatar avatar--small' %>
      <p><%= current_user.email %></p>
    </div>

    <% if @activity.image.attached? %>
      <%= image_tag @activity.image, class:'activity__image' %>
    <% end %>

    <div class='activity__description'><%= @activity.description %></div>

    <% unless @activity.steps.empty? %>
      <h1 class='activity__subtitle'>Steps</h1>
      <%= render "layouts/accordion", elements: @activity.steps %>
    <% end %>

    <%= link_to "x", :back, class: 'button button__action--close' %>
  </div>
</section>




