<%= javascript_pack_tag 'header' %>
<nav class='header'>
    <div class='header__logo'>
        <div>
            <%= image_tag "logo-black.png" %>
            <p> AGAI </p>
        </div>
    </div>
    <ul class='header-links'>
        <% if is_admin? %>
            <li class='header-links__link'>
                <i class="fas fa-users-cog"></i>
                <%= link_to 'Admin', admin_panel_path %>
            </li>
        <% end %>
        <li class='header-links__link'>
            <i class="fas fa-home"></i>
            <%= link_to 'Home', root_path %>
        </li>
        <% if !current_user %>
            <li class='header-links__link'>
                <i class="fas fa-info"></i>
                <%= link_to 'About', root_path %>
            </li>
        <% else %>
            <li class='header-links__link'>
                <i class="fas fa-chart-line"></i>
                <%= link_to 'Activities', activities_path %>
            </li>
            <li class='header-links__link'>
                <i class="fas fa-columns"></i>
                <%= link_to 'Dashboard', dashboard_path %>
            </li>
            <li class='header-links__link'>
                <i class="fas fa-cog"></i>
                <%= link_to 'Settings', edit_user_registration_path %>
            </li>
        <% end %>
    </ul>
    <div class='header-info'>
         <% if !current_user %>
            <%= link_to 'Sign in',  new_user_session_path, class: 'button button__action' %>
            <%= link_to 'Sing up', new_user_registration_path, class: 'button button__action button__action--full margin-left-small' %>
        <% else %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'button button__action' %>
        <% end %>
        <button id='btn'>
            <i class="fas fa-angle-down"></i>
        </button>
    </div>
</nav>
