<nav class='header'>
    <div class='header__logo'>
        <div>
            <%= image_tag "logo-black.png" %>
            <p> AGAI </p>
        </div>
    </div>
    <ul class='header-links'>
        <li class='header-links__link'>
            <%= link_to 'Home', root_path %>
        </li>
        <li class='header-links__link'>
            <%= link_to 'About', root_path %>
        </li>
        <li class='header-links__link'>
            <%= link_to 'Learn', root_path %>
        </li>
        <li class='header-links__link'>
            <%= link_to 'Activities', activities_path %>
        </li>
    </ul>
    <div class='header-info'>
        <a class='button button__action button__action--1'>Sing in</a>
    </div>
</nav>