<nav class='header'>
    <div class='header__logo'>
        <div>
            <%= image_tag "logo-black.png" %>
            <p> AGAI </p>
        </div>
    </div>
    <ul class='header-links'>
        <li class='header-links__link'>
            <%= link_to 'Home', root_path %>
        </li>
        <% if !current_user %>
            <li class='header-links__link'>
                <%= link_to 'About', root_path %>
            </li>
        <% else %>
            <li class='header-links__link'>
                <%= link_to 'Activities', activities_path %>
            </li>
            <li class='header-links__link'>
                <%= link_to 'Dashboard', dashboard_path %>
            </li>
            <li class='header-links__link'>
                <%= link_to 'Settings', edit_user_registration_path %>
            </li>
        <% end %>
    </ul>
    <div class='header-info'>
         <% if !current_user %>
            <%= link_to 'Sign in',  new_user_session_path, class: 'button button__action button__action--1' %>
            <%= link_to 'Sing up', new_user_registration_path, class: 'button button__action button__action--1' %>
        <% else %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'button button__action button__action--1' %>
        <% end %>
    </div>
</nav>